<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="smartcar">
    <xacro:include filename="$(find smartcar_description)/urdf/smartcar/base.urdf.xacro"/>
    <!--传感器组件-->
    <xacro:include filename="$(find smartcar_description)/urdf/smartcar/sensor/imu.urdf.xacro"/>
    <xacro:include filename="$(find smartcar_description)/urdf/smartcar/sensor/laser.urdf.xacro"/>
    <xacro:include filename="$(find smartcar_description)/urdf/smartcar/sensor/camera.urdf.xacro"/>
    <xacro:base_xacro length="0.12" radius = "0.1"/>
    <!--传感器-->
    <xacro:imu_xacro xyz="0.0 0.0 0.0"/>
    <xacro:laser_xacro xyz="0.0 0.0 0.1"/>
    <xacro:camera_xacro xyz="0.13 0.0 0.07"/>
    <!--执行器组件-->
    <xacro:include filename="$(find smartcar_description)/urdf/smartcar/actuator/wheel.urdf.xacro"/>
    <xacro:include filename="$(find smartcar_description)/urdf/smartcar/actuator/caster.urdf.xacro"/>
    <!--执行器主动轮+从动轮-->
     <xacro:wheel_xacro wheel_name="left" xyz="0.0 0.10 -0.06"/>
     <xacro:wheel_xacro wheel_name="right" xyz="0.0 -0.10 -0.06"/>
     <xacro:caster_xacro caster_name="front" xyz="0.08 0.0 -0.076"/>
     <xacro:caster_xacro caster_name="back" xyz="-0.08 0.0 -0.076"/>
     <!--gazebo插件-->
     <!--<xacro:include filename="$(find smartcar_description)/urdf/smartcar/plugins/gazebo_control_plugin.xacro"/>-->
    <!--<xacro:gazebo_control_plugin/>-->
    <xacro:include filename="$(find smartcar_description)/urdf/smartcar/smartcar.ros2_control.xacro"/>
    <xacro:smartcar_ros2_control/>
     <xacro:include filename="$(find smartcar_description)/urdf/smartcar/plugins/gazebo_sensor_plugin.xacro"/>
     <xacro:gazebo_sensor_plugin/>
</robot>